@{
    ViewData["Title"] = "Home Page";
}

<p>@ViewData["Title"]</p>

<div class="text-md-center">
    <h1 class="display-4">Welcome to Sales Program</h1>
    <h3>Program created to manage sales in general.</h3>
    <img src="/lib/image/restoqueimage.jpg" alt="Restoque" class="img-fluid">
</div>
